---
slug: test
layout_name: insites_admin/insites_email_layout
searchable: true
metadata: {
    page_title: test
    meta_title: updated
    description: 
    canonical_url: 
    status: published
    search_engine_visibility: true
}
--- 

<!DOCTYPE html>
<html>
<body>

<h1>My Second Heading</h1>
<p>My first paragraph that was overwritten.</p>

</body>
</html>